.header-container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:25px;
}

.logo{
    display:flex;
    align-items:center;
    gap:12px;
    flex-shrink:0;
}

.search-box{
    flex:1;
    max-width:600px;
}

.header-icons{
    display:flex;
    align-items:center;
    gap:30px;
    margin-left:auto;
    flex-shrink:0;
}

.header-icons div{
    text-align:center;
}

.header-icons i{
    font-size:24px;
    color:var(--primary);
}

.header-icons span,
.header-icons p{
    display:block;
    font-size:14px;
}
